/* ====== INDEX =====
1. COMMON
2. UI KIT
	2.1 BUTTON
	2.2 SECTION TITLE
	2.3 ACCORDION
	2.4 THUMBNAIL
	2.5 LIST
3. HEADER
	3.1 TOP COLOR BAR
	3.2 TOP INFO BAR
	3.3 NAVBAR
	3.4 LIGHT HEADER
4. FOOTER
	4.1 FOOTER INFO
	4.2 COPY RIGHT
5. BANNER
6. SEMINAR RIGHT SIDE BAR
7. SECTIONS
	7.1 MAIN SECTION
	7.2 ABOUT SECTION
	7.3 SEMINAR SECTION
	7.4 COUNT UP SECTION
	7.5 WHAT SECTION
	7.6 NTD SECTION
	7.7 MAP SECTION
	7.7 BLOG SECTION
8. GALLERY
===================== */
* {
  outline: 0;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #666666;
  font-weight: 400;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

p {
  font-size: 14px;
  color: #666666;
  font-weight: 400;
  line-height: 21px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: #202020;
  margin-top: 0;
  font-weight: 700;
}

h4 {
  font-size: 18px;
  margin-bottom: 25px;
  font-weight: 400;
}

h5 {
  font-weight: 400;
  font-size: 16px;
  text-transform: capitalize;
}

.form-control {
  box-shadow: none;
}

/*=== 1.COMMON ===*/
.container {
  width: 100%;
}

@media (min-width: 480px) {
  .container {
    width: 450px;
  }
}

@media (min-width: 320px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.main-wrapper {
  background-color: #ffffff;
}

body.bodyColor.default {
  background-color: #f5f5f5;
}

body.bodyColor.pattern-01 {
  background-image: url("../img/patterns/001.png");
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
}

body.bodyColor.pattern-02 {
  background-image: url("../img/patterns/002.png");
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
}

body.bodyColor.pattern-03 {
  background-image: url("../img/patterns/003.png");
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
}

body.bodyColor.pattern-04 {
  background-image: url("../img/patterns/004.png");
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
}

body.bodyColor.pattern-06 {
  background-image: url("../img/patterns/006.png");
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
}

body.bodyColor.pattern-07 {
  background-image: url("../img/patterns/007.png");
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
}

body.bodyColor.pattern-05 {
  background-image: url("../img/patterns/005.png");
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
}

body.bodyColor.wrapper {
  margin: 0 auto;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
}

@media (min-width: 480px) {
  body.bodyColor.wrapper {
    max-width: 450px;
  }
}

@media (min-width: 768px) {
  body.bodyColor.wrapper {
    max-width: 750px;
  }
}

@media (min-width: 992px) {
  body.bodyColor.wrapper {
    max-width: 970px;
  }
}

@media (min-width: 1200px) {
  body.bodyColor.wrapper {
    max-width: 1170px;
  }
}

@media (min-width: 480px) {
  body.bodyColor .header-wrapper {
    max-width: 450px;
  }
}

@media (min-width: 768px) {
  body.bodyColor .header-wrapper {
    max-width: 750px;
  }
}

@media (min-width: 992px) {
  body.bodyColor .header-wrapper {
    max-width: 970px;
  }
}

@media (min-width: 1200px) {
  body.bodyColor .header-wrapper {
    max-width: 1170px;
  }
}

@media (min-width: 480px) {
  body.bodyColor .color-bar {
    max-width: 450px;
  }
}

@media (min-width: 768px) {
  body.bodyColor .color-bar {
    max-width: 750px;
  }
}

@media (min-width: 992px) {
  body.bodyColor .color-bar {
    max-width: 970px;
  }
}

@media (min-width: 1200px) {
  body.bodyColor .color-bar {
    max-width: 1170px;
  }
}

body.bodyColor #menuBar.bb-fixed-header {
  right: auto;
  left: auto;
}

@media (min-width: 480px) {
  body.bodyColor #menuBar.bb-fixed-header {
    max-width: 450px;
    width: 100%;
  }
}

@media (min-width: 768px) {
  body.bodyColor #menuBar.bb-fixed-header {
    max-width: 750px;
  }
}

@media (min-width: 992px) {
  body.bodyColor #menuBar.bb-fixed-header {
    max-width: 970px;
  }
}

@media (min-width: 1200px) {
  body.bodyColor #menuBar.bb-fixed-header {
    max-width: 1170px;
  }
}

body.static #menuBar.bb-fixed-header {
  display: none;
}

.btn {
  display: inline-block;
  padding: 11px 20px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  color: #ffffff;
  border-radius: 6px;
  text-transform: uppercase;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  border: 1px solid transparent;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.3) !important;
}

.btn:focus, .btn.active, .btn:active {
  border: 1px solid transparent;
  outline: 0;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.3);
}

a {
  color: #BD002F;
  text-decoration: none !important;
  transition: all 0.3s ease-in-out;
}

a:hover {
  outline: 0;
}

a:focus {
  outline: 0;
}

.main-wrapper {
  position: relative;
  overflow: hidden;
}

.form-control:focus {
  box-shadow: none;
}

.color-1 {
  color: #f0c24b !important;
}

.bg-color-1 {
  background-color: #f0c24b !important;
}

.border-color-1 {
  border-color: #f0c24b !important;
}

.color-2 {
  color: #b5d56a !important;
}

.bg-color-2 {
  background-color: #b5d56a !important;
}

.border-color-2 {
  border-color: #b5d56a !important;
}

.color-3 {
  color: #BD002F !important;
}

.bg-color-3 {
  background-color: #BD002F !important;
}

.border-color-3 {
  border-color: #BD002F !important;
}

.color-4 {
  color: #84bed6 !important;
}

.bg-color-4 {
  background-color: #84bed6 !important;
}

.border-color-4 {
  border-color: #84bed6 !important;
}

.color-5 {
  color: #a597e7 !important;
}

.bg-color-5 {
  background-color: #a597e7 !important;
}

.border-color-5 {
  border-color: #a597e7 !important;
}

.color-6 {
  color: #ea77ad !important;
}

.bg-color-6 {
  background-color: #ea77ad !important;
}

.border-color-6 {
  border-color: #ea77ad !important;
}

.bg-color-7 {
  background-color: #2f3c43;
}

f {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.p-n {
  padding: 0;
}

.p-t-n {
  padding-top: 0 !important;
}

.table-curved {
  border-collapse: separate;
  border: solid #ccc 1px;
  border-radius: 6px;
  border-left: 0px;
  border-top: 0px;
}

.table-curved > thead:first-child > tr:first-child > th {
  border-bottom: 0px;
  border-top: 0;
}

.table-curved > thead:first-child > tr > th:first-child {
  border-left: 1px solid #f0c24b;
}

.table-curved > thead:first-child > tr > th:last-child {
  border-right: 1px solid #ea77ad;
}

.table-curved td, .table-curved th {
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.table-curved > :first-child > :first-child > :first-child {
  border-radius: 6px 0 0 0;
}

.table-curved > :first-child > :first-child > :last-child {
  border-radius: 0 6px 0 0;
}

.table-curved > :last-child > :last-child > :first-child {
  border-radius: 0 0 0 6px;
}

.table-curved > :last-child > :last-child > :last-child {
  border-radius: 0 0 6px 0;
}

/*=== 2. UI KIT ===*/
.margin-top {
  margin-top: 40px;
}

.margin-bottom {
  margin-bottom: 40px;
}

.space-25 {
  margin-bottom: 25px;
}

.space-50 {
  margin-bottom: 50px;
}

.not-rounded {
  border-radius: 0 !important;
}

aside {
  margin-bottom: 25px;
}

/*=== 2.1 BUTTON ===*/
.btn-xl {
  font-size: 20px;
  padding: 9px 10px;
}

.btn-lg {
  font-size: 15px;
  padding: 10px 12px !important;
}

.btn-sm {
  font-size: 12px;
  padding: 7px 6px !important;
}

.btn-xs {
  font-size: 10px;
  padding: 5px 8px !important;
}

.btn-rounded {
  border-radius: 5px !important;
}

.btn-pill {
  border-radius: 50px !important;
}

.btn-circle {
  border-radius: 50% !important;
  height: 40px;
  width: 40px;
  padding: 3px !important;
}

.btn-square {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  padding: 3px !important;
}

.btn-link {
  color: #9875ab;
}

.btn-link:hover {
  color: #7c618a;
  text-decoration: none;
}

.btn-link:focus {
  color: #7c618a;
  text-decoration: none;
}

.btn-primary {
  background-color: #BD002F !important;
  border: 2px solid #BD002F !important;
  color: #ffffff;
}

.btn-primary > i {
  margin-right: 10px;
  padding-left: 7px;
}

.btn-square {
  border-radius: 0 !important;
}

.btn-outline-success {
  color: #5cb85c;
  background-color: transparent;
  border-color: #5cb85c;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.btn-outline-info {
  color: #5bc0de;
  background-color: transparent;
  border-color: #5bc0de;
}

.btn-outline-info:hover {
  color: #fff;
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.btn-outline-warning {
  color: #f0ad4e;
  background-color: transparent;
  border-color: #f0ad4e;
}

.btn-outline-warning:hover {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.btn-outline-primary {
  color: #BD002F;
  background-color: transparent;
  border-color: #BD002F;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #BD002F;
  border-color: #BD002F;
}

.btn span {
  margin-left: 10px;
  margin-right: 10px;
}

.box-info .btn-primary {
  background-color: #ffffff !important;
  border: none !important;
}

/*=== 2.2 SECTION TITLE ===*/
@media (min-width: 320px) {
  .whiteSection, .mainContent, .lightSection, .colorSection{
    padding: 50px 0;
  }
}

@media (min-width: 768px) {
  .whiteSection, .mainContent, .lightSection, .colorSection, .ntdSection {
    padding: 50px 0;
  }
}

.whiteSection, .mainContent, .mapSection, .ntdSection {
  background-color: #ffffff;
}

.lightSection {
  background-color: #f5f5f5;
}

.sectionTitle h2 {
  font-family: 'Dosis', sans-serif;
  font-size: 36px;
  color: #BD002F;
  text-transform: capitalize;
  float: left;
  width: 100%;
}

.sectionTitle h2 span {
  padding: 0 15px;
}

@media (min-width: 320px) {
  .sectionTitle h2 span {
    display: block;
    width: 100%;
    float: left;
  }
}

@media (min-width: 768px) {
  .sectionTitle h2 span {
    display: inline-block;
    width: auto;
    float: none;
  }
}

@media (min-width: 320px) {
  .sectionTitle h2 {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .sectionTitle h2 {
    margin-bottom: 70px;
  }
}

.sectionTitle.alt h2 {
  color: #ffffff;
}

.sectionTitleSmall {
  margin-bottom: 40px;
}

.sectionTitleSmall h2 {
  text-align: center;
  font-family: 'Dosis', sans-serif;
  text-transform: none;
  margin: 0 0 12px 0;
  color: #ffffff;
}

.sectionTitleSmall p {
  color: #ffffff;
  text-align: center;
  font-size: 15px;
}

.sectionTitle h2 span.shape {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #ffffff;
  display: inline-block;
  padding: 0;
  position: relative;
  float: none;
}

.sectionTitle h2 span.shape:after, .sectionTitle h2 span.shape:before {
  content: "";
  height: 2px;
  background: #ffffff;
  display: inline-block;
  position: absolute;
  border-radius: 2px;
}

.sectionTitle h2 span.shape:after {
  content: "";
  width: 70px;
  top: 6px;
}

.sectionTitle h2 span.shape:before {
  content: "";
  width: 55px;
  top: 11px;
}

.sectionTitle h2 span.shape-left:before,
.sectionTitle h2 span.shape-left:after {
  right: 3px;
}

.sectionTitle h2 span.shape-right:before,
.sectionTitle h2 span.shape-right:after {
  left: 3px;
}

.sectionTitle h2 span.bg-color-1,
.sectionTitle h2 span.bg-color-1:after,
.sectionTitle h2 span.bg-color-1:before {
  background-color: #074887 !important;
}

.sectionTitle h2 span.bg-color-4,
.sectionTitle h2 span.bg-color-4:after,
.sectionTitle h2 span.bg-color-4:before {
  background-color: #BD002F !important;
}

.sectionTitle h2 span.bg-color-3,
.sectionTitle h2 span.bg-color-3:after,
.sectionTitle h2 span.bg-color-3:before {
  background-color: #ee8d85 !important;
}

.sectionTitle h2 span.bg-color-6,
.sectionTitle h2 span.bg-color-6:after,
.sectionTitle h2 span.bg-color-6:before {
  background-color: #D09F00 !important;
}

.pageTitleSection {
  background-image: linear-gradient(rgba(102, 102, 102, 0.45),rgba(51, 51, 51, 0.45)), url("../img/ntd-collage-filtered.jpg");
  width: 100%;
  background-size: cover;
  background-position: center center;
  color: #333;
  padding: 75px 0;
}

.pageTitleSection .pageTitleInfo {
  text-align: center;
}

.pageTitleSection .pageTitleInfo h2 {
  font-size: 40px;
  line-height: 33px;
  color: #ffffff;
  margin-bottom: 40px;
  margin: 0 0 8px 0;
  font-family: 'Dosis', sans-serif;
  text-transform: capitalize;
  font-weight: 600;
}

.pageTitleSection .pageTitleInfo .breadcrumb {
  background-color: transparent;
}

.pageTitleSection .pageTitleInfo .breadcrumb li {
  color: #ffffff;
  font-size: 15px;
}

.pageTitleSection .pageTitleInfo .breadcrumb li a {
  color: #ffffff;
  font-size: 15px;
}

.pageTitleSection .pageTitleInfo .breadcrumb > li + li::before {
  content: " \276F\00a0 ";
}

/*=== 2.3 ACCORDION ===*/
.accordionCommon .panel {
  margin-bottom: 30px;
  border: none;
}

.accordionCommon .panel-heading {
  display: block;
  padding: 15px 20px;
  border-radius: 8px;
  font-weight: 600;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  position: relative;
}

.accordionCommon .panel-heading span.iconBlock {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background-color: #ffffff;
  color: #666666;
  display: inline-block;
  float: right;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
}

.accordionCommon .panel-heading span.iconBlock.iconTransparent {
  background-color: transparent;
  box-shadow: none;
  color: #ffffff;
}

.accordionCommon span.separator {
  width: 1px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.25);
  position: absolute;
  top: 0;
  right: 60px;
}

.accordionCommon .panel-body {
  padding: 30px;
  background-color: #f8f8f8;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
  border-top: none !important;
  border-radius: 0 0 8px 8px;
}

.accordionCommon .panel-body p {
  margin-bottom: 35px;
}

.accordionCommon .panel-body p:last-child {
  margin-bottom: 0;
}

/*=== 2.4 THUMBNAIL ===*/
.thumbnail {
  padding: 0;
  border: none;
  border-radius: 9px;
  position: relative;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
}

.thumbnail > a img {
  border-radius: 9px 9px 0 0;
  width: 100%;
}

.thumbnail img {
  border-radius: 9px 9px 0 0;
  width: 100%;
}

/*=== 2.5 LIST ===*/
.topList li {
  color: rgba(255, 255, 255, 0.8);
}

@media (min-width: 768px) {
  .topList li {
    margin-right: 5px;
    font-size: 10px;
  }
}

@media (min-width: 992px) {
  .topList li {
    margin-right: 10px;
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  .topList li {
    margin-right: 20px;
  }
}

.topList li i {
  width: 21px;
  height: 21px;
  display: inline-block;
  color: #ffffff;
  border-radius: 100%;
  text-align: center;
  line-height: 21px;
}

@media (min-width: 768px) {
  .topList li i {
    margin-right: 5px;
  }
}

@media (min-width: 992px) {
  .topList li i {
    margin-right: 5px;
  }
}

@media (min-width: 1200px) {
  .topList li i {
    margin-right: 10px;
  }
}

.topList li a {
  color: rgba(255, 255, 255, 0.8);
}

@media (min-width: 768px) {
  .topList li a {
    font-size: 10px;
  }
}

@media (min-width: 992px) {
  .topList li a {
    font-size: 14px;
  }
}

.topList li:last-child {
  margin-right: 0;
}

@media (min-width: 768px) {
  .functionList {
    width: 100%;
    float: left;
  }
}

@media (min-width: 992px) {
  .functionList {
    width: 100%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .functionList {
    width: 92%;
    float: right;
  }
}

.functionList > li {
  color: rgba(255, 255, 255, 0.8);
  float: left;
}

@media (min-width: 768px) {
  .functionList > li {
    margin-right: 5px;
    padding: 0;
    font-size: 10px;
  }
}

@media (min-width: 992px) {
  .functionList > li {
    margin-right: 10px;
    padding: 0;
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  .functionList > li {
    margin-right: 15px;
    padding: 0 10px;
  }
}

.functionList > li span {
  margin: 0 5px;
}

.functionList > li i {
  width: 21px;
  height: 21px;
  display: inline-block;
  color: #ffffff;
  border-radius: 100%;
  text-align: center;
  line-height: 21px;
}

@media (min-width: 768px) {
  .functionList > li i {
    margin-right: 5px;
  }
}

@media (min-width: 992px) {
  .functionList > li i {
    margin-right: 10px;
  }
}

.functionList > li:last-child {
  margin-right: 0;
}

.functionList > li a {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 600;
}

.functionList > li.LanguageList {
  width: 22%;
}

.functionList > li:first-child {
  margin-right: 0;
}

/*=== 3. HEADER ===*/
.navbar .container {
  position: relative;
}

.bb-fixed-header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 999;
}

/*=== 3.1 TOP COLOR BAR ===*/
.color-bar {
  width: 100%;
}

.color-bar .col-sm-1 {
  height: 3px;
  text-indent: -99999px;
}

.top-fixed {
  position: fixed;
  z-index: 2000;
}

/*=== 3.2 TOP INFO BAR ===*/
.top-info-bar {
  padding: 15px 0 12px 0;
  display: block;
  width: 100%;
  z-index: 1000;
  position: relative;
  top: 3px;
  transition: height 0.15s ease;
  height: 53px;
}

/*=== 3.3 NAVBAR ===*/
.navbar-default {
  background-color: transparent;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  z-index: 700;
}

.navbar-header .navbar-brand {
  float: left;
}

.navbar-header .navbar-brand > img {
  width: 100%;
}

.ntd-logo {
  background-image: url(../img/logo-ntd.jpg);
  background-attachment: fixed;
  width: 100%;
  background-repeat: repeat;
  padding: 60px 0;
}

@media (min-width: 320px) {
  .navbar-header .navbar-brand {
    height: auto;
    padding: 15px;
    width: 160px;
  }
}

@media (min-width: 768px) {
  .navbar-header .navbar-brand {
    height: 110px;
    padding: 30px 15px;
    width: 196px;
  }
}

.navbar-default .navbar-nav {
  background-color: #ffffff;
  margin-bottom: 0;
}

@media (min-width: 320px) {
  .navbar-default .navbar-nav {
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .navbar-default .navbar-nav {
    height: auto;
    background-color: transparent;
  }
}

@media (min-width: 320px) {
  .navbar-default .navbar-nav.navbar-right {
    margin-right: -15px;
  }
}

@media (min-width: 768px) {
  .navbar-default .navbar-nav.navbar-right {
    margin-right: 0;
  }
}

.navbar-default .navbar-nav > li > a {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 15px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: transparent !important;
}

@media (min-width: 320px) {
  .navbar-default .navbar-nav > li > a {
    color: #000000;
    padding: 12px;
  }
}

@media (min-width: 768px) {
  .navbar-default .navbar-nav > li > a {
    margin: 0;
    padding: 23px 0;
  }
}

.navbar-default .navbar-nav > li > a > i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 100%;
  display: block;
  color: #ffffff;
  font-size: 16px;
}

@media (min-width: 320px) {
  .navbar-default .navbar-nav > li > a > i {
    display: inline-block;
    margin: 0 10px 0 0;
  }
}

@media (min-width: 768px) {
  .navbar-default .navbar-nav > li > a > i {
    display: block;
    margin: 0 auto 12px auto;
  }
}

.navbar-default .navbar-nav > li > a > span {
  padding: 0;
  line-height: 16px;
  text-align: center;
  text-transform: capitalize;
}

@media (min-width: 320px) {
  .navbar-default .navbar-nav > li > a > span {
    display: inline-block;
  }
}

@media (min-width: 768px) {
  .navbar-default .navbar-nav > li > a > span {
    width: auto;
    padding: 0 15px;
    display: block;
  }
}

@media (min-width: 992px) {
  .navbar-default .navbar-nav > li > a > span {
    width: 110px;
    padding: 0;
  }
}

.navbar-default .navbar-nav > li:last-child > a > span {
  width: auto;
}

@media (min-width: 768px) {
  .navbar-default .navbar-nav > li:last-child > a > span {
    padding-left: 15px;
  }
}

.navbar-default .navbar-nav > li.active > a, .navbar-default .navbar-nav > li.active > a:hover, .navbar-default .navbar-nav > li.active > a:focus {
  background-color: transparent;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$value)";
  filter: alpha(opacity=1);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

.navbar-default .navbar-nav > li.open > a, .navbar-default .navbar-nav > li.open > a:hover > a:focus {
  background-color: transparent;
}

.navbar-default .navbar-nav > li.dropdown .dropdown-menu a {
  padding: 3px 20px;
  margin-bottom: 0;
}

@media (min-width: 320px) {
  .navbar-nav > li.dropdown.open > a:after {
    display: none;
  }
}

@media (min-width: 768px) {
  .navbar-nav > li.dropdown.open > a:after {
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    margin-left: -10px;
    content: "";
    display: inline-block;
    left: 50%;
    position: absolute;
    top: 102px;
  }
}

.navbar-nav > li.color-1.dropdown a:after {
  border-bottom: 7px solid #f0c24b;
}

.navbar-nav > li.color-2.dropdown.megaDropMenu > a:after {
  border-bottom: 7px solid #b5d56a;
}

.navbar-nav > li.color-3.dropdown a:after {
  border-bottom: 7px solid #BD002F;
}

.navbar-nav > li.color-4.dropdown a:after {
  border-bottom: 7px solid #84bed6;
}

.navbar-nav > li.color-5.dropdown a:after {
  border-bottom: 7px solid #a597e7;
}

.navbar-nav > li.color-6.dropdown a:after {
  border-bottom: 7px solid #ea77ad;
}

@media (min-width: 320px) {
  .navbar-nav > li.dropdown.singleDrop .dropdown-menu .dropdown-menu:after {
    display: none;
  }
}

@media (min-width: 768px) {
  .navbar-nav > li.dropdown.singleDrop .dropdown-menu .dropdown-menu:after {
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    top: 20%;
    margin-top: -10px;
    content: "";
    display: inline-block;
    left: -11px;
    position: absolute;
  }
}

.navbar-nav > li.color-3.dropdown.singleDrop .dropdown-menu .dropdown-menu:after {
  border-right: 7px solid #BD002F;
}

.navbar-nav > li.color-4.dropdown.singleDrop .dropdown-menu .dropdown-menu:after {
  border-right: 7px solid #84bed6;
}

.navbar-nav > li.color-5.dropdown.singleDrop .dropdown-menu .dropdown-menu:after {
  border-right: 7px solid #a597e7;
}

.navbar-nav > li.color-6.dropdown.singleDrop .dropdown-menu .dropdown-menu:after {
  border-right: 7px solid #ea77ad;
}

.navbar-nav > li.color-1.singleDrop > .dropdown-menu li.active a {
  background-color: transparent;
}

.navbar-nav > li.color-1.singleDrop > .dropdown-menu li.active a:hover {
  background-color: #f0c24b;
}

.navbar-nav > li.dropdown.megaDropMenu {
  position: static;
}

.navbar-nav > li.dropdown.megaDropMenu .dropdown-menu {
  margin: -2px auto 0 auto;
  right: 15px;
  border-radius: 5px;
}

@media (min-width: 320px) {
  .navbar-nav > li.dropdown.megaDropMenu .dropdown-menu {
    left: 0;
    padding: 0;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .navbar-nav > li.dropdown.megaDropMenu .dropdown-menu {
    left: 15px;
    padding: 10px 5px 0;
    width: 720px;
  }
}

@media (min-width: 992px) {
  .navbar-nav > li.dropdown.megaDropMenu .dropdown-menu {
    width: 940px;
  }
}

@media (min-width: 1200px) {
  .navbar-nav > li.dropdown.megaDropMenu .dropdown-menu {
    width: 1140px;
  }
}

.navbar-nav > li.dropdown.megaDropMenu .dropdown-menu .list-unstyled {
  width: 100%;
  float: left;
}

@media (min-width: 320px) {
  .navbar-nav > li.dropdown.megaDropMenu .dropdown-menu .list-unstyled {
    padding-bottom: 5px;
  }
}

@media (min-width: 768px) {
  .navbar-nav > li.dropdown.megaDropMenu .dropdown-menu .list-unstyled {
    padding-bottom: 15px;
  }
}

.navbar-nav > li.dropdown.megaDropMenu .dropdown-menu .list-unstyled li.listHeading, .navbar-nav > li.dropdown.megaDropMenu .dropdown-menu .list-unstyled li:first-child {
  float: left;
  font-weight: 700;
  font-family: 'Dosis', sans-serif;
}

@media (min-width: 320px) {
  .navbar-nav > li.dropdown.megaDropMenu .dropdown-menu .list-unstyled li.listHeading, .navbar-nav > li.dropdown.megaDropMenu .dropdown-menu .list-unstyled li:first-child {
    padding: 10px 12px 10px 0;
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .navbar-nav > li.dropdown.megaDropMenu .dropdown-menu .list-unstyled li.listHeading, .navbar-nav > li.dropdown.megaDropMenu .dropdown-menu .list-unstyled li:first-child {
    padding: 10px 12px;
    font-size: 24px;
  }
}

.navbar-nav > li.dropdown.megaDropMenu .dropdown-menu .list-unstyled li a {
  color: #666666;
  font-size: 14px;
  float: left;
  width: 100%;
  background-color: transparent;
}

@media (min-width: 320px) {
  .navbar-nav > li.dropdown.megaDropMenu .dropdown-menu .list-unstyled li a {
    padding: 6px 12px;
  }
}

@media (min-width: 768px) {
  .navbar-nav > li.dropdown.megaDropMenu .dropdown-menu .list-unstyled li a {
    padding: 10px 12px;
  }
}

.navbar-nav > li.dropdown.megaDropMenu .dropdown-menu .list-unstyled li a:hover {
  padding-left: 22px;
}

.navbar-nav > li.dropdown.megaDropMenu.open > a > span {
  color: #b5d56a;
}

.navbar-nav > li.dropdown.singleDrop .dropdown-menu {
  border-radius: 5px;
  margin-top: 0;
  padding: 5px;
}

@media (min-width: 320px) {
  .navbar-nav > li.dropdown.singleDrop .dropdown-menu {
    min-width: 230px;
  }
}

@media (min-width: 768px) {
  .navbar-nav > li.dropdown.singleDrop .dropdown-menu {
    min-width: 210px;
  }
}

@media (min-width: 1200px) {
  .navbar-nav > li.dropdown.singleDrop .dropdown-menu {
    min-width: 230px;
  }
}

.navbar-nav > li.dropdown.singleDrop .dropdown-menu li a {
  color: #666666;
  font-size: 14px;
  float: none;
  width: 100%;
  background-color: transparent;
}

@media (min-width: 320px) {
  .navbar-nav > li.dropdown.singleDrop .dropdown-menu li a {
    padding: 6px 12px 6px 24px;
  }
}

@media (min-width: 768px) {
  .navbar-nav > li.dropdown.singleDrop .dropdown-menu li a {
    padding: 10px 12px;
  }
}

.navbar-nav > li.dropdown.singleDrop .dropdown-menu li a:hover {
  padding-left: 22px;
}

.navbar-nav > li.dropdown.singleDrop .dropdown-menu li .dropdown-menu {
  margin-left: 4px;
}

@media (min-width: 320px) {
  .navbar-nav > li.dropdown.singleDrop .dropdown-menu li .dropdown-menu li a {
    padding: 6px 12px 6px 36px;
  }
}

@media (min-width: 768px) {
  .navbar-nav > li.dropdown.singleDrop .dropdown-menu li .dropdown-menu li a {
    padding: 10px 12px;
  }
}

.navbar-nav > li.dropdown.singleDrop .dropdown-menu li .dropdown-menu li a:hover {
  padding-left: 22px;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a {
  position: relative;
}

.dropdown-submenu a i {
  position: absolute;
  right: 10px;
  top: 13px;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  margin-top: 0 !important;
  margin-left: -1px;
  border-radius: 0 6px 6px 6px;
}

@media (min-width: 480px) {
  .dropdown-submenu > .dropdown-menu {
    left: 0;
  }
}

@media (min-width: 768px) {
  .dropdown-submenu > .dropdown-menu {
    left: 100%;
  }
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  border-radius: 6px 0 6px 6px;
}

.navbar-toggle {
  margin-top: 20px;
}

.navbar-toggle {
  background-color: #ffffff;
}

.navbar-default .navbar-nav {
  height: 340px;
  overflow-x: hidden;
  transition: height 0.3s ease;
}

@media (min-width: 768px) {
  .navbar-default .navbar-nav {
    height: auto;
    overflow-x: visible;
    overflow-y: visible;
  }
}

.navbar-collapse.in {
  overflow-y: visible;
}

@media (min-width: 320px) {
  .navbar-collapse {
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
  }
}

@media (min-width: 768px) {
  .navbar-collapse {
    border-color: #ffffff;
    box-shadow: none;
  }
}

.navbar-collapse li.dropdown .dropdown-menu {
  box-shadow: none;
}

@media (min-width: 320px) {
  .navbar-collapse li.dropdown .dropdown-menu {
    position: relative;
    width: 100%;
    float: left;
    border: 0;
    display: block;
  }
}

@media (min-width: 768px) {
  .navbar-collapse li.dropdown .dropdown-menu {
    position: absolute;
    float: left;
    display: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.175);
  }
}

.navbar-collapse li.dropdown.open .dropdown-menu {
  display: block;
}

@media (min-width: 320px) {
  .navbar-collapse li.dropdown.dropdown-submenu .dropdown-menu {
    position: relative;
    width: 100%;
    float: left;
    border: 0;
    display: block;
  }
}

@media (min-width: 768px) {
  .navbar-collapse li.dropdown.dropdown-submenu .dropdown-menu {
    position: absolute;
    float: left;
    display: none;
  }
}

.navbar-collapse li.dropdown.dropdown-submenu.open .dropdown-menu {
  display: block;
}

/*=== 3.4 LIGHT HEADER ===*/
.navbar-default.lightHeader {
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

@media (min-width: 320px) {
  .navbar-default.lightHeader {
    height: 70px;
    top: 3px;
  }
}

@media (min-width: 768px) {
  .navbar-default.lightHeader {
    height: 110px;
  }
}

.navbar-default.lightHeader .navbar-nav > li > a {
  color: #000000;
}

.navbar-default.lightHeader .navbar-nav > li.active.color-1 > a {
  color: #f0c24b;
}

.navbar-default.lightHeader .navbar-nav > li.active.color-2 > a {
  color: #b5d56a;
}

.navbar-default.lightHeader .navbar-nav > li.active.color-3 > a {
  color: #BD002F;
}

.navbar-default.lightHeader .navbar-nav > li.active.color-4 > a {
  color: #84bed6;
}

.navbar-default.lightHeader .navbar-nav > li.active.color-5 > a {
  color: #a597e7;
}

.navbar-default.lightHeader .navbar-nav > li.active.color-6 > a {
  color: #ea77ad;
}

@media (min-width: 768px) {
  .navbar-nav > li.color-1 > a > span {
    border-right: 2px solid #f0c24b;
  }
}

.navbar-nav > li.color-1 > a:hover span {
  color: #f0c24b;
}

.navbar-nav > li.color-1 > a:active span {
  color: #f0c24b !important;
}

@media (min-width: 768px) {
  .navbar-nav > li.color-1.singleDrop > .dropdown-menu {
    border-top: 4px solid #f0c24b;
  }
}

.navbar-nav > li.color-1.singleDrop > .dropdown-menu li a:hover {
  background-color: #f0c24b;
  color: #ffffff;
}

.navbar-nav > li.color-1.singleDrop > .dropdown-menu li.active > a, .navbar-nav > li.color-1.singleDrop > .dropdown-menu li.active li.active a {
  color: #f0c24b;
}

.navbar-nav > li.color-1.singleDrop > .dropdown-menu li.active a:hover, .navbar-nav > li.color-1.singleDrop > .dropdown-menu li.active li.active a:hover {
  color: #ffffff;
}

@media (min-width: 768px) {
  .navbar-nav > li.color-1.singleDrop > .dropdown-menu li .dropdown-menu {
    border-left: 4px solid #f0c24b;
  }
}

.navbar-nav > li.color-1.singleDrop.open a > span {
  color: #f0c24b;
}

@media (min-width: 768px) {
  .navbar-nav > li.color-2 > a > span {
    border-right: 2px solid #b5d56a;
  }
}

.navbar-nav > li.color-2 > a:hover span {
  color: #b5d56a;
}

@media (min-width: 768px) {
  .navbar-nav > li.color-2.dropdown.megaDropMenu .dropdown-menu {
    border-top: 4px solid #b5d56a;
  }
}

.navbar-nav > li.color-2.dropdown.megaDropMenu .dropdown-menu .list-unstyled li.listHeading, .navbar-nav > li.color-2.dropdown.megaDropMenu .dropdown-menu .list-unstyled li:first-child {
  color: #b5d56a;
}

.navbar-nav > li.color-2.dropdown.megaDropMenu .dropdown-menu .list-unstyled li a:hover {
  background-color: #b5d56a;
  color: #ffffff;
}

.navbar-nav > li.color-2.dropdown.megaDropMenu .dropdown-menu .list-unstyled li.active > a, .navbar-nav > li.color-2.dropdown.megaDropMenu .dropdown-menu .list-unstyled li.active li.active a {
  color: #b5d56a;
}

.navbar-nav > li.color-2.dropdown.megaDropMenu .dropdown-menu .list-unstyled li.active a:hover, .navbar-nav > li.color-2.dropdown.megaDropMenu .dropdown-menu .list-unstyled li.active li.active a:hover {
  color: #ffffff;
}

.navbar-nav > li.color-2.dropdown.megaDropMenu .open a > span {
  color: #b5d56a;
}

@media (min-width: 768px) {
  .navbar-nav > li.color-3 > a > span {
    border-right: 2px solid #BD002F;
  }
}

.navbar-nav > li.color-3 > a:hover span {
  color: #BD002F;
}

@media (min-width: 768px) {
  .navbar-nav > li.color-3.singleDrop > .dropdown-menu {
    border-top: 4px solid #BD002F;
  }
}

.navbar-nav > li.color-3.singleDrop > .dropdown-menu li a:hover {
  background-color: #BD002F;
  color: #ffffff;
}

.navbar-nav > li.color-3.singleDrop > .dropdown-menu li.active > a, .navbar-nav > li.color-3.singleDrop > .dropdown-menu li.active li.active a {
  color: #BD002F;
}

.navbar-nav > li.color-3.singleDrop > .dropdown-menu li.active a:hover, .navbar-nav > li.color-3.singleDrop > .dropdown-menu li.active li.active a:hover {
  color: #ffffff;
}

@media (min-width: 768px) {
  .navbar-nav > li.color-3.singleDrop > .dropdown-menu li .dropdown-menu {
    border-left: 4px solid #BD002F;
  }
}

.navbar-nav > li.color-3.singleDrop.open a > span {
  color: #BD002F;
}

@media (min-width: 768px) {
  .navbar-nav > li.color-4 > a > span {
    border-right: 2px solid #84bed6;
  }
}

.navbar-nav > li.color-4 > a:hover span {
  color: #BD002F;
}

@media (min-width: 768px) {
  .navbar-nav > li.color-4.singleDrop > .dropdown-menu {
    border-top: 4px solid #84bed6;
  }
}

.navbar-nav > li.color-4.singleDrop > .dropdown-menu li a:hover {
  background-color: #84bed6;
  color: #ffffff;
}

.navbar-nav > li.color-4.singleDrop > .dropdown-menu li.active > a, .navbar-nav > li.color-4.singleDrop > .dropdown-menu li.active li.active a {
  color: #84bed6;
}

.navbar-nav > li.color-4.singleDrop > .dropdown-menu li.active a:hover, .navbar-nav > li.color-4.singleDrop > .dropdown-menu li.active li.active a:hover {
  color: #ffffff;
}

@media (min-width: 768px) {
  .navbar-nav > li.color-4.singleDrop > .dropdown-menu li .dropdown-menu {
    border-left: 4px solid #84bed6;
  }
}

.navbar-nav > li.color-4.singleDrop.open a > span {
  color: #84bed6;
}

@media (min-width: 768px) {
  .navbar-nav > li.color-5 > a > span {
    border-right: 2px solid #a597e7;
  }
}

.navbar-nav > li.color-5 > a:hover span {
  color: #a597e7;
}

@media (min-width: 768px) {
  .navbar-nav > li.color-5.singleDrop > .dropdown-menu {
    border-top: 4px solid #a597e7;
  }
}

.navbar-nav > li.color-5.singleDrop > .dropdown-menu li a:hover {
  background-color: #a597e7;
  color: #ffffff;
}

.navbar-nav > li.color-5.singleDrop > .dropdown-menu li.active > a, .navbar-nav > li.color-5.singleDrop > .dropdown-menu li.active li.active a {
  color: #a597e7;
}

.navbar-nav > li.color-5.singleDrop > .dropdown-menu li.active a:hover, .navbar-nav > li.color-5.singleDrop > .dropdown-menu li.active li.active a:hover {
  color: #ffffff;
}

@media (min-width: 768px) {
  .navbar-nav > li.color-5.singleDrop > .dropdown-menu li .dropdown-menu {
    border-left: 4px solid #a597e7;
  }
}

.navbar-nav > li.color-5.singleDrop.open a > span {
  color: #a597e7;
}

.navbar-nav > li.color-6 > a:hover span {
  color: #ea77ad;
}

@media (min-width: 768px) {
  .navbar-nav > li.color-6.singleDrop > .dropdown-menu {
    border-top: 4px solid #ea77ad;
  }
}

.navbar-nav > li.color-6.singleDrop > .dropdown-menu li a:hover {
  background-color: #ea77ad;
  color: #ffffff;
}

.navbar-nav > li.color-6.singleDrop > .dropdown-menu li.active > a, .navbar-nav > li.color-6.singleDrop > .dropdown-menu li.active li.active a {
  color: #ea77ad;
}

.navbar-nav > li.color-6.singleDrop > .dropdown-menu li.active a:hover, .navbar-nav > li.color-6.singleDrop > .dropdown-menu li.active li.active a:hover {
  color: #ffffff;
}

@media (min-width: 768px) {
  .navbar-nav > li.color-6.singleDrop > .dropdown-menu li .dropdown-menu {
    border-left: 4px solid #ea77ad;
  }
}

.navbar-nav > li.color-6.singleDrop.open a > span {
  color: #ea77ad;
}

.navbar-nav > li:last-child > a > span {
  border-right: none;
}

.navbar-right {
  margin-right: 0;
}

.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #BD002F;
  border-color: #BD002F;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
}

.navbar-default .navbar-toggle .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar, .navbar-default .navbar-toggle:hover .icon-bar {
  background-color: #ffffff;
}

@media (min-width: 768px) {
  .bb-fixed-header .navbar-nav > li.dropdown.open > a:after {
    top: 83px;
  }
}

/*=== 4. FOOTER ===*/
footer {
  position: relative;
}

footer .color-bar {
  position: absolute;
  top: 0;
}

/*=== 4.1 FOOTER INFO ===*/
.footerInfoArea {
  background-image: url(../img/footer/footer-bg-1.png);
  background-attachment: fixed;
  width: 100%;
  background-repeat: repeat;
  padding: 60px 0;
}

.footerTitle {
  display: block;
  margin-bottom: 30px;
}

.footerTitle a {
  width: 150px;
  height: 46px;
  display: block;
}

.footerTitle a img {
  width: 100%;
}

.footerTitle h4 {
  color: #ffffff;
  font-size: 20px;
  margin: 0;
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}

.footerInfo p {
  margin-bottom: 30px;
  color: #d8e3f0;
}

.footerInfo a {
  color: #d8e3f0;
}

.footerInfo a:hover {
  color: #D07B00;
}

.footerInfo .input-group {
  border-radius: 5px;
  margin-bottom: 30px;
  box-shadow: 0 4px 0 rgba(255, 255, 255, 0.1);
}

.footerInfo .input-group .form-control {
  background-color: #f5f5f5;
  border: 0;
  color: #666666;
  height: 40px;
  width: 80%;
}

.footerInfo .input-group .input-group-addon {
  border-radius: 0 4px 4px 0;
  background-color: #BD002F;
  border: 0;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  float: left;
  width: 20%;
  height: 40px;
}

.footerInfo .input-group .input-group-addon i {
  color: #ffffff;
}

.footerInfo .input-group .input-group-addon:hover {
  background-color: #BD002F;
  border-color: #BD002F;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$value)";
  filter: alpha(opacity=1);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

.footerList > li > a {
  color: #d8e3f0;
}

.footerList > li > a i {
  margin: 0 10px 25px 0;
}

.postLink li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.postLink li:last-child {
  border-bottom: none;
}

.postLink li .media-body .media-heading {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-transform: capitalize;
  text-overflow: none;
  white-space: normal;
  overflow: hidden;
}

.postLink li .media-body .media-heading a {
  color: #d8e3f0;
}

.postLink li .media-body p {
  margin-bottom: 0;
}

.postLink li .media-left .img-rounded {
  border-width: 2px;
  border-style: solid;
  border-radius: 12px;
  width: 60px;
  height: 60px;
}

/*=== 4.2 COPY RIGHT ===*/
.copyRight {
  display: block;
  background-color: #041319;
  padding: 20px 0;
}

@media (min-width: 320px) {
  .copyRight .list-inline {
    text-align: center;
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .copyRight .list-inline {
    text-align: right;
    margin: 0;
  }
}

@media (min-width: 768px) {
  .copyRight .list-inline li {
    padding: 2px;
  }
}

@media (min-width: 992px) {
  .copyRight .list-inline li {
    padding: 0 2px;
  }
}

@media (min-width: 1200px) {
  .copyRight .list-inline li {
    padding: 0 5px;
  }
}

.copyRight .list-inline li a {
  display: block;
  text-align: center;
  border-radius: 100%;
  color: #ffffff;
}

.copyRight .list-inline li a:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$value)";
  filter: alpha(opacity=1);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

@media (min-width: 320px) {
  .copyRight .list-inline li a {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .copyRight .list-inline li a {
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 10px;
  }
}

@media (min-width: 992px) {
  .copyRight .list-inline li a {
    width: 28px;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
  }
}

.copyRightText p {
  margin-bottom: 0;
  color: #d8e3f0;
}

.copyRightText p a {
  color: #d8e3f0;
}

.copyRightText p a:hover {
  color: #BD002F;
}

@media (min-width: 320px) {
  .copyRightText p {
    font-size: 11px;
    text-align: center;
    line-height: 21px;
  }
}

@media (min-width: 768px) {
  .copyRightText p {
    font-size: 13px;
    text-align: left;
    line-height: 28px;
  }
}

/*=== 5. BANNER ===*/
.bannercontainer .tp-rightarrow.default {
  z-index: 98;
}

.bannercontainer .fullscreenbanner-container {
  width: 100%;
  position: relative;
  padding: 0;
}

.bannercontainer .fullscreenbanner-container .tp-bullets.preview4 {
  opacity: 1;
  height: auto;
}

@media (min-width: 992px) {
  .bannercontainer .fullscreenbanner-container .tp-bullets.preview4 {
    bottom: 30px !important;
  }
}

.bannercontainer .fullscreenbanner-container .tp-bullets.preview4 .bullet {
  display: none !important;
}

.bannercontainer .fullscreenbanner-container .tparrows.preview4 .tp-arr-iwrapper {
  display: none !important;
}

.tp-bullets {
  z-index: 99;
}

@media (min-width: 768px) {
  .tparrows.preview4:hover:after {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  .tp-leftarrow.preview4:hover:after {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
}

.fullscreenbanner {
  color: #ffffff;
  width: 100%;
  position: relative;
}

.tp-caption.rs-caption-1,
.tp-caption.rs-caption-2,
.tp-caption.rs-caption-3 {
  white-space: normal !important;
  width: inherit;
  font-family: 'Dosis', sans-serif;
  text-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
}

@media (min-width: 320px) {
  .tp-caption.rs-caption-1,
  .tp-caption.rs-caption-2,
  .tp-caption.rs-caption-3 {
    width: 90%;
  }
}

@media (min-width: 320px) {
  .tp-caption.rs-caption-2 {
    margin-top:50px;
  }
}
@media (min-width: 320px) {
  .tp-caption.rs-caption-3 {
    margin-top:70px;
  }
}

@media (min-width: 768px) {
  .tp-caption.rs-caption-1,
  .tp-caption.rs-caption-2,
  .tp-caption.rs-caption-3 {
    width: 85%;
    margin-top: 0;
  }
}

@media (min-width: 992px) {
  .tp-caption.rs-caption-1,
  .tp-caption.rs-caption-2,
  .tp-caption.rs-caption-3 {
    width: 70%;
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .tp-caption.rs-caption-1,
  .tp-caption.rs-caption-2,
  .tp-caption.rs-caption-3 {
    width: 55%;
    margin-top: 0;
  }
}

.tp-caption.rs-caption-1 a.btn-primary, .tp-caption.rs-caption-1 a.btn-primary:hover, .tp-caption.rs-caption-1 a.btn-primary:focus,
.tp-caption.rs-caption-2 a.btn-primary,
.tp-caption.rs-caption-2 a.btn-primary:hover,
.tp-caption.rs-caption-2 a.btn-primary:focus,
.tp-caption.rs-caption-3 a.btn-primary,
.tp-caption.rs-caption-3 a.btn-primary:hover,
.tp-caption.rs-caption-3 a.btn-primary:focus {
  color: #ffffff;
  height: 35px;
  line-height: 35px;
  padding: 0 10px;
}

@media (min-width: 768px) {
  .tp-caption.rs-caption-1 a.btn-primary, .tp-caption.rs-caption-1 a.btn-primary:hover, .tp-caption.rs-caption-1 a.btn-primary:focus,
  .tp-caption.rs-caption-2 a.btn-primary,
  .tp-caption.rs-caption-2 a.btn-primary:hover,
  .tp-caption.rs-caption-2 a.btn-primary:focus,
  .tp-caption.rs-caption-3 a.btn-primary,
  .tp-caption.rs-caption-3 a.btn-primary:hover,
  .tp-caption.rs-caption-3 a.btn-primary:focus {
    padding: 0 10px;
    margin-top: -20px;
  }
}

@media (min-width: 992px) {
  .tp-caption.rs-caption-1 a.btn-primary, .tp-caption.rs-caption-1 a.btn-primary:hover, .tp-caption.rs-caption-1 a.btn-primary:focus,
  .tp-caption.rs-caption-2 a.btn-primary,
  .tp-caption.rs-caption-2 a.btn-primary:hover,
  .tp-caption.rs-caption-2 a.btn-primary:focus,
  .tp-caption.rs-caption-3 a.btn-primary,
  .tp-caption.rs-caption-3 a.btn-primary:hover,
  .tp-caption.rs-caption-3 a.btn-primary:focus {
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
  }
}

.tp-caption.rs-caption-1 {
  font-weight: 700;
}

@media (min-width: 320px) {
  .tp-caption.rs-caption-1 {
    font-size: 30px !important;
    line-height: 2px !important;
    padding: 0 10px !important;
  }
}

@media (min-width: 768px) {
  .tp-caption.rs-caption-1 {
    font-size: 45px !important;
    line-height: 40px !important;
    padding: 0;
  }
}

@media (min-width: 992px) {
  .tp-caption.rs-caption-1 {
    font-size: 50px !important;
    line-height: 40px !important;
  }
}

.tp-caption.rs-caption-1 span {
  color: #BD002F;
}

.tp-caption.rs-caption-2 {
  font-weight: 400;
}

@media (min-width: 320px) {
  .tp-caption.rs-caption-2 {
    font-size: 15px !important;
    line-height: 17px !important;
    padding: 0 10px !important;
  }
}

@media (min-width: 768px) {
  .tp-caption.rs-caption-2 {
    display: block;
    font-size: 14px !important;
    line-height: 17px !important;
    padding: 0;
  }
}

@media (min-width: 1200px) {
  .tp-caption.rs-caption-2 {
    font-size: 25px !important;
    line-height: 31px !important;
  }
}

.tp-caption.rs-caption-2,
.tp-caption.rs-caption-3 {
  padding: 0 10px !important;
}

.fullscreenbanner .tp-dottedoverlay.twoxtwo {
  background: transparent;
  background-image: none !important;
  z-index: 1;
}

.tparrows.preview4 {
  width: 47px;
  height: 47px;
}

.tparrows.preview4:after {
  line-height: 47px;
  width: 47px;
  height: 47px;
  background-color: #ffffff;
  color: #666666;
  border-radius: 13px;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);
}

.tp-rightarrow.preview4 {
  right: 3% !important;
}

.tp-rightarrow.preview4:after {
  content: '\e81e';
}

.tp-leftarrow.preview4 {
  left: 3% !important;
}

.tp-leftarrow.preview4:after {
  content: '\e81f';
}

/*=== 6. SEMINAR RIGHT SIDE BAR ===*/
.eventSidebar.panel {
  border: 0;
  margin-bottom: 30px;
}

.eventSidebar.panel .panel-heading {
  border-radius: 7px 7px 0 0;
}

.eventSidebar.panel .panel-heading .panel-title {
  font-size: 24px;
  color: #ffffff;
  text-transform: capitalize;
  font-weight: 700;
  font-family: 'Dosis', sans-serif;
}

.eventSidebar.panel .panel-body {
  border: 1px solid #dedede;
  border-top: 0;
  border-radius: 0 0 7px 7px;
}

.eventSidebar.panel .panel-body .media-list li {
  padding: 10px 0;
  margin: 0;
}

.eventSidebar.panel .panel-body .media-list li .media-left.iconContent {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  color: #ffffff;
  border-radius: 100%;
  display: inline-block;
  float: left;
  padding: 0;
  margin-right: 20px;
  font-size: 16px;
}

.eventSidebar.panel .panel-body .media-list li .media-body.iconContent .media-heading {
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.eventSidebar.panel .panel-body .media-list li .media-body.iconContent p {
  font-weight: 600;
  margin-bottom: 0;
}

.eventSidebar.panel .panel-body .media-list.blogListing li .media-heading a {
  font-weight: 600;
  font-size: 14px;
  text-transform: capitalize;
  color: #666666;
}

.eventSidebar.panel .panel-body .media-list.blogListing li .media-heading a:hover {
  color: #a597e7 !important;
}


/*=== 7. SECTIONS ===*/
/*=== 7.1 MAIN SECTION ===*/

.mainIntro h2 {
  font-family: 'Dosis', sans-serif;
  font-size: 36px;
  line-height: 42px;
  text-transform: capitalize;
  color: #BD002F;
  font-weight: 700;
}

@media (min-width: 320px) {
  .mainIntro h2 {
    margin: 25px 0;
  }
}

@media (min-width: 768px) {
  .mainIntro h2 {
    margin: 0 0 25px 0;
  }
}

.mainIntro p {
  font-size: 15px;
  color: #222222;
  margin-bottom: 25px;
}

.mainIntro .btn-primary {
  margin-top: 20px;
}

.para-list.list-unstyled {
  margin-bottom: 35px;
}

.para-list.list-unstyled li {
  color: #666666;
  font-size: 15px;
  margin-bottom: 10px;
}

.para-list.list-unstyled li i {
  margin-right: 10px;
}

@media (min-width: 320px) {
  .mainSection {
    padding: 50px !important;
  }
}

@media (min-width: 768px) {
  .mainSection {
    padding: 100px 0px 0px 0px !important;
  }
}

.mainSection .mainIntro h2 {
  text-transform: uppercase;
  color: #BD002F;
  font-size: 30px;
}

.mainSection .mainIntro h2 span {
  color: #666666;
  font-size: 38px;
}

.mainSection .mainIntro p {
  color: #222222 !important;
  font-weight: 600;
  font-size: 18px;
  text-align: justify !important;
}

.mainSection p {
  text-align: justify !important;
}

.mainSection .mainIntro .aboutP2 {
  color: #666666 !important;
  font-weight: 400;
  font-size: 18px;
  text-align:justify;
}

.mainSection .well .para-list.list-unstyled li {
  color: #074887 !important;
  font-size: 14px;
}

/*=== 7.2 ABOUT SECTION ===*/

.aboutSection p {
  text-align: justify !important;
}

.aboutSection .btn-primary {
  background-color: #074887 !important;
  border-color: #074887 !important;
}

.aboutSection .btn-primary:hover {
  background-color: #D07B00 !important;
  border-color: #D07B00 !important;
}

/*=== 7.3 SEMINAR SECTION ===*/

.seminarDetails {
	font-size:15px;
}

/*=== 7.4 COUNT UP SECTION ===*/
.countUpSection {
  background-image: url("../img/ntd-collage-filtered.jpg");
  width: 100%;
  background-size: cover;
  background-position: center center !important;
  background-attachment: fixed;
  color: #ffffff;
  padding: 80px 0;
}

.countUpSection .counter {
  width: 145px;
  height: 145px;
  line-height: 145px;
  display: inline-block;
  border-radius: 100%;
  border: 4px solid #ffffff;
}

@media (min-width: 320px) {
  .countUpSection .counter {
    font-size: 32px;
    display: block;
    margin: 0 auto 25px auto;
  }
}

@media (min-width: 768px) {
  .countUpSection .counter {
    font-size: 52px;
    display: inline-block;
    margin: 0 0 25px 0;
  }
}

.countUpSection .counterInfo {
  line-height: 40px;
  height: 40px;
  border: none;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #BD002F;
  border-radius: 6px;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
  font-weight: 600;
  width: 140px;
  display: inline-block;
}

@media (min-width: 320px) {
  .countUpSection .counterInfo {
    font-size: 13px;
  }
}

@media (min-width: 768px) {
  .countUpSection .counterInfo {
    font-size: 15px;
  }
}

@media (min-width: 320px) {
  .countUpSection .text-center {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .countUpSection .text-center {
    margin-bottom: 0;
  }
}

/*=== 7.5 WHAT SECTION ===*/
.block h3 {
  font-family: 'Dosis', sans-serif;
  text-transform: capitalize;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 0 20px 0;
}

.block h3 a {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  line-height: 1.3 !important;
}

@media (min-width: 320px) {
  .block h3 {
    font-size: 24px;
  }
}

@media (min-width: 992px) {
  .block h3 {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .block h3 {
    font-size: 24px;
  }
}

.block .list-unstyled, .block .list-inline {
  margin-bottom: 0;
}

.block .list-unstyled li, .block .list-inline li {
  line-height: 21px;
  color: #666666;
  margin-bottom: 5px;
}

.block .list-unstyled li i, .block .list-inline li i {
  margin-right: 6px;
}

.block .list-unstyled li a, .block .list-inline li a {
  color: #666666;
}

.block .list-inline .btn-primary {
  background-color: #ffffff !important;
  color: #666666;
  border: 2px solid transparent !important;
}

.block .list-inline .btn-primary:hover {
  color: #ffffff;
  background-color: #f0c24b !important;
}

.block .list-inline .btn-link {
  text-transform: capitalize;
  font-size: 14px;
  color: #666666;
  font-weight: 600;
  box-shadow: none;
}

.block .list-inline .btn-link:hover {
  box-shadow: none !important;
}

.block .list-inline.btn-yellow .btn-primary:hover {
  background-color: #f0c24b;
}

.block .list-inline.btn-yellow .btn-link:hover {
  color: #f0c24b;
}

.block .list-inline.btn-green .btn-primary:hover {
  background-color: #b5d56a !important;
}

.block .list-inline.btn-green .btn-link:hover {
  color: #b5d56a;
}

.block .list-inline.btn-red .btn-primary:hover {
  background-color: #BD002F !important;
}

.block .list-inline.btn-red .btn-link:hover {
  color: #BD002F !important;
}

.block .list-inline.btn-sky .btn-primary:hover {
  background-color: #84bed6 !important;
}

.block .list-inline.btn-sky .btn-link:hover {
  color: #84bed6;
}

.block .list-inline.btn-purple .btn-primary:hover {
  background-color: #a597e7 !important;
}

.block .list-inline.btn-purple .btn-link:hover {
  color: #a597e7;
}

.block .list-inline.btn-pink .btn-primary:hover {
  background-color: #ea77ad !important;
}

.block .list-inline.btn-pink .btn-link:hover {
  color: #ea77ad;
}

.thumbnailContent.alt {
  box-shadow: none;
}

.thumbnailContent.alt > .caption {
  background-color: transparent;
}

.thumbnailContent.alt > .caption .table {
  border-color: #dedede !important;
}

.thumbnailContent.alt > .caption .table.table-curved thead tr th {
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  padding: 0;
  height: 44px;
  line-height: 44px;
}

.thumbnailContent.alt > .caption .table.table-curved thead tr th:first-child {
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
}

.thumbnailContent.alt > .caption .table.table-curved thead tr th:first-child i {
  color: #c09933;
}

.thumbnailContent.alt > .caption .table.table-curved tbody tr td {
  padding: 0;
  text-align: center;
  height: 109px;
  vertical-align: middle;
  font-size: 14px;
  color: #666666;
  border-color: #dedede !important;
}

.thumbnailContent.alt > .caption .table.table-curved tbody tr td:first-child {
  font-weight: 600;
}

.thumbnailContent.alt > .caption .table.table-curved tbody tr td span {
  display: block;
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}

.thumbnailContent.alt > .caption .imagesPart {
  display: block;
  width: 100%;
}

.thumbnailContent.alt > .caption .imagesPart img {
  display: inline-block;
  float: left;
  width: 49%;
  margin: 15px 2% 25px 0;
}

.thumbnailContent.alt > .caption .imagesPart img:last-child {
  margin-right: 0;
}

.thumbnailContent .caption {
  border-top: 5px solid #ffffff;
  background-color: #f8f8f8;
  padding: 15px;
}

/*=== 7.6 NTD SECTION ===*/

@media (min-width: 320px) {
  .ntdSection {
    padding:0;
  }
}

@media (min-width: 768px) {
  .ntdSection {
    padding: 50px 0;
  }
}

.ntdSection {
  background-color: #ffffff;
}

.diseaseDetails ol li {
	padding-left:10px;
}

.diseaseDetails ol {
	background-color:#ffffff;
	list-style:outside lower-roman;
	margin-left:30px;
	font-size:14px;
	color:#666666;font-weight:400;
	line-height:21px;
}

.diseaseDetails {
	height:auto;background-color:#ffffff;
	margin:25px 0;
	padding:0 30px;
	font-size:15px;
}

.diseaseHeader,.diseaseDetails {
	width:100%;
}

.diseaseHeader {
	height:50px;color:#ffffff;text-transform:uppercase;text-indent:30px;font-weight:600;border-radius:7px;line-height:50px;
}

.diseaseMainImage img {
	width:100%;
}

.diseaseMainImage {
	width:100%;
}
.diseaseSection h3 {
	color:#BD002F;text-transform:capitalize;font-family:'Dosis', sans-serif;font-weight:700;font-size:28px;margin:0 0 25px 0;
}

.diseaseSection p {
	margin:0 0 25px 0;
}

@media (min-width: 320px) {
	.diseaseMainImage {
		padding-bottom:25px;
	}
}

/*=== 7.7 MAP SECTION ===*/

@media (min-width: 320px) {
  .mapSection {
    padding: 50px 0;
  }
}

/*=== 7.8 BLOG SECTION ===*/

@media (min-width: 768px) {
  .blogSection {
    padding: 10px 0px !important;
  }
}

@media (min-width: 320px) {
  .blogSection {
    padding: 50px !important;
  }
}

.blogTitleSection {  
  margin: 50px 0;
}

.blogSection .blogContent p {
  font-size: 14px;
  color: #666666;
  font-weight: 400;  
  margin: 0 0 25px 0;
  text-align: justify;
  line-height: 24px;
}

.blogSection .blogImage p, .blogSection .blogVideo p {
  text-align: center;
  color:#074887;
}

.blogCaption {
  font-size: 12px !important;
}

.blogContent .para-list.list-unstyled {
  display: inline-block !important;
  margin-bottom: 25px;
}

.blogContent .para-list.list-unstyled li {
  color: #074887 !important;
  text-align: center;
}

/*=== 8. GALLERY ===*/
.filter-container {
  padding: 0 20px 30px 20px;
}

@media (min-width: 320px) {
  .isotopeFilters ul.filter > li {
    padding: 6px 2px;
  }
}

@media (min-width: 768px) {
  .isotopeFilters ul.filter > li {
    padding: 0 2px;
  }
}

.isotopeFilters ul.filter > li a {
  padding: 0 25px;
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  color: #222222;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #f8f8f8;
  border-radius: 4px;
}

.isotopeFilters ul.filter > li.active a {
  background-color: #BD002F;
  color: #ffffff;
}

.fancybox-lock .fancybox-overlay {
  background-color: rgba(0, 0, 0, 0.75);
}

.fancybox-title {
  font-size: 12px;
}

.isotopeSelector img {
  width: 100%;
}

.isotopeSelector:hover img {
  -webkit-transform: scale(1.2) rotate(0);
  transform: scale(1.2) rotate(0);
}

.isotopeSelector figure {
  position: relative;
  margin-bottom: 30px;
  border-radius: 4px;
}

.isotopeSelector .overlay-background {
  border-radius: 4px;
}

.isotopeSelector .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$value)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
}

.isotopeSelector .overlay .fancybox-pop {
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
}

.isotopeSelector .overlay .fancybox-pop i {
  width: 40px;
  height: 40px;
  display: block;
  text-align: center;
  border-radius: 4px;
  border: 2px solid #ffffff;
  color: #ffffff;
  line-height: 35px;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
}

.isotopeSelector:hover .overlay {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$value)";
  filter: alpha(opacity=1);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

.isotopeSelector:hover .overlay .overlayInfo {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.isotopeSelector:hover h4 {
  color: #BD002F;
}

.btnArea {
  width: 100%;
  display: block;
  float: left;
  margin-top: 20px;
  text-align: center;
}

.btnArea .btn-primary {
  display: inline-block;
}